@import url("./variables.css");
.showcase {
    background: var(--showcaseBackground);
    color: var(--textColor);
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-family: 'Merriweather';
    font-style: normal;
}

.showcase-wrapper {
    max-width: 1210px;
    margin: 0 auto;
}

.showcase-header {
    position: relative;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 12rem 0 3.125rem 0;
    z-index: 3;
}

.showcase-button {
    margin: 1.5rem 0.625rem 4.375rem 0;
    width: 18.5rem;
    height: 3.75rem;
    cursor: pointer;
    border-radius: 7.5rem;
    padding-top: 1.36rem;
    padding-left: 2.4rem;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 0.0625rem solid var(--textColor);
}

.showcase-firstletter {
    position: absolute;
    margin: -23.8rem 0 0 0;
    font-weight: 700;
    font-size: 9rem;
    line-height: 11.3125rem;
    color: rgba(119, 116, 116, 0.4);
    z-index: 1;
}

.showcase-border {
    border-top: 0.0625rem solid var(--textColor);
    position: absolute;
    margin: -15.75rem 0 0 44rem;
    width: 46rem;
}

.showcase-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 0;
}

.showcase-menu-item {
    width: 30%;
    background-color: var(--showcaseBackground);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.625rem;
    margin: 0 0 4.125rem 0;
    cursor: pointer;
}

@media (max-width: 1510px) {
    .showcase-border {
        margin: -15.75rem 0 0 42.75rem;
        width: 43rem;
    }
}

@media (max-width: 1366px) {
    .showcase-border {
        margin: -15.75rem 0 0 42.75rem;
        width: 35rem;
    }
    .showcase-wrapper {
        padding: 0 6rem 0 6rem;
    }
}

@media (max-width: 1200px) {
    .showcase-border {
        margin: -15.75rem 0 0 42.75rem;
        width: 28rem;
    }
}

@media (max-width: 1110px) {
    .showcase-border {
        margin: -15.75rem 0 0 42.75rem;
        width: 20rem;
    }
}

@media (max-width: 1020px) {
    .showcase-menu-text {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    .showcase-border {
        margin: -15.75rem 0 0 42.75rem;
        width: 12rem;
    }
}

@media (max-width: 900px) {
    .showcase-border {
        display: none;
    }
}

@media (max-width: 760px) {
    .showcase-menu-item {
        width: 30%;
        background-color: var(--showcaseBackground);
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 2.625rem;
    }
    .showcase-menu-text {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    .showcase-border {
        display: none;
    }
    .showcase-wrapper {
        padding: 0 2rem 0 2rem;
    }
}

@media (max-width: 640px) {
    .showcase-menu-item {
        width: 45%;
        background-color: var(--showcaseBackground);
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 2.625rem;
    }
    .showcase-menu-text {
        font-size: 1rem;
        line-height: 1.625rem;
    }
    .showcase-border {
        display: none;
    }
}

@media (max-width: 520px) {
    .showcase-header {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 10rem 0 1.625rem 0;
    }
    .showcase-border {
        display: none;
    }
    .showcase-firstletter {
        position: absolute;
        margin: -18.35rem 0 0 0;
        font-weight: 700;
        font-size: 5.1rem;
        line-height: 6.5rem;
        color: var(--letterColor);
        z-index: 1;
    }
}